{{ define "main" }}
<section class="hero is-medium is-primary is-bold has-text-centered">
	<div class="hero-body">
		<div class="container">
			<img src="/img/decor-head-big.png" alt="head-decor" width="400" height="100"><br>
			<img src="/img/logo-big.png" alt="logo-big" width="451" height="132">
			<h1 class="title">{{ .Params.Subtitle }}</h1>
			<a class="button is-medium is-danger" href="tel:2291159320"><b>Κλείστε Ραντεβού</b></a><br><br>
			<img src="/img/decor-end-big.png" alt="head-decor" width="400" height="60">
		</div>
	</div>
</section>
<section class="section">
	<div class="container has-text-centered">
		<h2 class="title">Οι υπηρεσίες μας</h2>
		<div class="columns is-mobile is-centered">
			<div class="column">
				<div class="card is-inline-block">
					<header class="card-header">
						<div class="card-header-title "><a href="/ανδρικές-κομμώσεις" title="ανδρικές-κομμώσεις" class="card-header-icon">Ανδρικές Κομμώσεις</a></div>
					</header>
					<div class="card-content">
						<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Νεανικό και κλασσικό αντρικό κούρεμα.</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card is-inline-block">
					<header class="card-header">
						<p class="card-header-title"><a href="/γυναικείες-κομμώσεις" title="γυναικείες-κομμώσεις" class="card-header-icon">Γυναικείες Κομμώσεις</a></p>
					</header>
					<div class="card-content">
						<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Γυναικείο κούρεμα, χτένισμα, βάψιμο.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="card is-inline-block">
					<header class="card-header">
						<p class="card-header-title"><a href="/manicure" title="manicure" class="card-header-icon">Manicure</a></p>
					</header>
					<div class="card-content">
						<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Περιποίηση και βάψιμο νυχιών, ημιμόνιμο, γαλλικό.</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card is-inline-block">
					<header class="card-header">
						<p class="card-header-title"><a href="/pedicure" title="pedicure" class="card-header-icon">Pedicure</a></p>
					</header>
					<div class="card-content">
						<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Περιποίηση και καλοπισμός στα νύχια του ποδιού με υγιεινή.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
		<div class="column">
			<div class="card is-inline-block">
				<header class="card-header">
					<p class="card-header-title"><a href="/solarium" title="solarium" class="card-header-icon">Solarium</a></p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Με την ασφαλέστερη τεχνολογία μαυρίσματος.</div>
				</div>
			</div>
			</div>
			<div class="column">
			<div class="card is-inline-block">
				<header class="card-header">
					<p class="card-header-title"><a href="/tattoo-φρυδιών" title="tattoo-φρυδιών" class="card-header-icon">Tattoo Φρυδιών</a></p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Φυσικό αποτέλεσμα, ανώδυνα με το επιθυμητό σχήμα.</div>
				</div>
			</div>
			</div>
		</div>
		<div class="columns">
		<div class="column">
			<div class="card is-inline-block">
				<header class="card-header">
					<p class="card-header-title"><a href="/νυφικό-χτένισμα" title="νυφικό-χτένισμα" class="card-header-icon">Νυφικό χτένισμα</a></p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Το πιο ξεχωριστό χτένισμα για την πιο ξεχωριστή ημέρα</div>
				</div>
			</div>
			</div>
			<div class="column">
			<div class="card is-inline-block">
				<header class="card-header">
					<p class="card-header-title"><a href="/μασάζ" title="μασάζ" class="card-header-icon">Μασάζ</a></p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Χαλάρωση και ανακούφιση απο μυικούς πόνους.</div>
				</div>
			</div>
			</div>
		</div>
		<div class="columns">
		<div class="column">
			<div class="card is-inline-block">
				<header class="card-header">
					<p class="card-header-title"><a href="/extensions-βλεφαρίδων" href="/extensions-βλεφαρίδων" class="card-header-icon">Extensions Βλεφαρίδων</a></p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Πλούσιες και πυκνές βλεφαρίδες για ένα ευφάνταστο αποτέλεσμα.</div>
				</div>
			</div>
		</div>
			<div class="column">
			<div class="card is-inline-block">
				<header class="card-header">
					<p class="card-header-title"><a href="/μακιγιάζ" href="/μακιγιάζ" class="card-header-icon">Μακιγιάζ</a></p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Αναδεικνύουμε τα φυσικά σας χαρακτηριστικά με τα καλύτερα προιόντα και τεχνικές</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
{{ end }}