{{ define "main" }}
<section class="hero is-medium is-primary is-bold has-text-centered">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">{{ .Title }}</h1>
			<p class="subtitle">{{ .Params.Subtitle }}</p>
			<a class="button is-medium is-danger" href="tel:2291159320"><b>Κλείστε Ραντεβού</b></a>
			<!-- <img src="/img/decor-end.png" alt="head-decor" width="182" height="49"> <img src="/img/decor-start.png" alt="head-decor" width="182" height="49">-->
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="title has-text-centered">Οι υπηρεσίες μας</h2>
		<div class="columns">
			<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/ανδρικές-κομμώσεις" class="card-header-icon has-text-centered">Ανδρικές Κομμώσεις</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Αντρικό κούρεμα, "κομμένο" & ραμένο στα μέτρα σας.</div>
				</div>
				</a>
			</div>
		</div>
		<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/γυναικείες-κομμώσεις" class="card-header-icon">Γυναικείες Κομμώσεις</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Γυναικείο κούρεμα, χτένισμα, βάψιμο.</div>
				</div>
				</a>
			</div>
		</div>
		</div>
		<div class="columns">
			<div class="column is-half">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title"><a href="/manicure" class="card-header-icon">Manicure</p>
					</header>
					<div class="card-content">
						<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Manicure text.</div>
					</div>
					</a>
				</div>
			</div>
			<div class="column is-half">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title"><a href="/pedicure" class="card-header-icon">Pedicure</p>
					</header>
					<div class="card-content">
						<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Pedicure text.</div>
					</div>
					</a>
				</div>
			</div>
		</div>
		<div class="columns">
		<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/solarium" class="card-header-icon">Solarium</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>H ασφαλέστερη τεχνολογία μαυρίσματος.</div>
				</div>
				</a>
			</div>
			</div>
			<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/tattoo-φρυδιών" class="card-header-icon">Tattoo Φρυδιών</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247"><br>Φυσικό αποτέλεσμα, ανώδυνα με το επιθυμητό σχήμα.</div>
				</div>
				</a>
			</div>
			</div>
		</div>
		<div class="columns">
		<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/νυφικό-χτένισμα" class="card-header-icon">Νυφικό χτένισμα</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Φυσικό αποτέλεσμα.</div>
				</div>
				</a>
			</div>
			</div>
			<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/μασάζ" class="card-header-icon">Μασάζ</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Φυσικό αποτέλεσμα.</div>
				</div>
				</a>
			</div>
			</div>
		</div>
		<div class="columns">
		<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/extensions-βλεφαρίδων" class="card-header-icon">Extensions Βλεφαρίδων</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Φυσικό αποτέλεσμα.</div>
				</div>
				</a>
			</div>
		</div>
			<div class="column is-half">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title"><a href="/μακιγιάζ" class="card-header-icon">Μακιγιάζ</p>
				</header>
				<div class="card-content">
					<div class="content"><img src="/img/υπηρεσίες/μαλλιά-01.png" alt="head-decor" width="400" height="247">
					<br>Φυσικό αποτέλεσμα.</div>
				</div>
				</a>
			</div>
			</div>
		</div>
			<!--<div class="column">Manicure</div>
			<div class="column">Pedicure</div>
			<div class="column">Βαφή μαλλιών</div>
			<div class="column">Solarium</div>
			<div class="column">Tattoo Φρυδιών</div>
			<div class="column">Νυφικό χτένισμα</div>
			<div class="column">Μασάζ</div>
			<div class="column">Extensions Βλεφαρίδων</div>
			<div class="column">Μακιγιάζ</div>-->
		</div>
	</div>
</section>
{{ end }}